* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto!';
    src: local('Roboto');
    src: url(fonts/Roboto-Regular.ttf);
   
}

@font-face {
    font-family: 'Philosopher';
    src: local('Philosopher');
    src: url(fonts/Philosopher-Regular.ttf);
   
}

html {
    font-family: 'Roboto!';
}

body {
    background-color: #ffe2b0;
    padding-top: 10px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 15px;
}

ul { 
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    color: red;
}

ul {
    text-align: center;
    padding: 0;
}

li {
    display: inline;
    margin-right: 100px;
}

li:last-child {
    margin: 0;
}


nav {
    margin-bottom: 20px;
}

.section-about {
    position: relative;
    height: 640px;
    background: url(../img/backgroundimg.jpg) center/cover no-repeat;
    position: relative;
    margin-bottom: 20px;
    
}

.section-about__block { 
    width: 420px;
    height: 190px;
    background: linear-gradient(180deg, rgba(244, 213, 178, 0.8) 0%, rgba(234, 156, 65, 0.8) 100%);
    position: absolute;
    top: 54%;
    left: 50%;
    padding-top: 15px;
}   

.section-about__border {
    width: 390px;
    height: 160px;
    border: 1px solid black;
    margin: 0 auto;
    padding: 15px;
    text-align: left;
}

.section-about__title {
    font-size: 36px;
    margin: 0;
    margin-bottom: 9px;
    font-family: 'Philosopher';
}

.section-about__text {
    font-size: 12px;
    margin: 0;
}

.section-description__icon-box {
    text-align: center;
}


.section-description{
    margin-bottom: 20px;
}

.section-description__icon-box img {
    padding-right: 76px;
}

.section-description__icon-box img:last-child {
    margin-right: 0;
}

.section-description__title {
    font-size: 96px;
    margin: 0;
    text-align: center;
    font-family: 'Philosopher';
 }

 .section-description__span {
    color: #f15b40;
 }

.section-description__text {
    font-size: 18px;
    margin: 0;
    text-align: center;
    width: 1000px;
    margin: 0 auto;
}

.section-map__title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 36px;
    font-family: 'Philosopher';
}

iframe {
    display: block;
    margin: 0 auto;
}


hr {
    border: none;
    border-top: 2px solid black;
    width: 1024px;
    margin: 0 auto;
    margin-bottom: 20px;

}

footer {
    height: 80px;
}

h1 {
    font-family: 'Roboto!';
}
